@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: #282c34;
  background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(30, 58, 138) 50%, rgba(40, 44, 52, 1) 100%);
  color: white;
  text-align: center;
}

a {
  color: rgb(147 197 253);
  font-weight: 700;
  transition: color 0.15s ease;
}

a:is(:hover, :focus) {
  color: rgb(37 99 235);
}

a:active {
  color: rgb(147 197 253);
}